%h1 Select Progress to track

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @progress_bars.each do |progress_bar|
    %tr
      %td.progress-bar= progress_bar.name
      %td.show
        = link_to progress_bar do
          %i.icon-eye-open Show
      %td.edit
        =link_to edit_progress_bar_path(progress_bar) do
          %i.icon-edit Edit

      %td.delete
        = link_to progress_bar, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %i.icon-remove Destroy

%br

= link_to 'New Progress bar', new_progress_bar_path
